.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(144, 238, 144, 0.336); 
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  .footer-left a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
  }
  
  .footer-right {
    font-size: 14px;
    color: #888;
  }
  