<mat-toolbar class="navbar">
    <!-- Logo on the left side -->
    <div class="navbar-logo">
      <img src="assets/CompLogo1.png" alt="Logo" class="logo-img">
    </div>
  
    <!-- Heading at the center -->
    <div class="navbar-heading">
      Premier Food Distribution
    </div>
  
    <!-- Search icon and notification icon on the right side -->
    <div class="search-icon">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <mat-icon class="notification-icon">notifications</mat-icon>
    </div>
  </mat-toolbar>
  